In [4]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.2-cp39-cp39-macosx_11_0_arm64.whl (11.3 MB)
     |████████████████████████████████| 11.3 MB 6.9 MB/s eta 0:00:01
Collecting pytz>=2020.1
  Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Collecting tzdata>=2022.7
  Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Collecting numpy>=1.22.4
  Downloading numpy-1.26.4-cp39-cp39-macosx_11_0_arm64.whl (14.0 MB)
     |████████████████████████████████| 14.0 MB 48.6 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/bhuvaneshmarineni/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Installing collected packages: tzdata, pytz, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.2 pytz-2024.1 tzdata-2024.1
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

# Read CSV files
file1 = pd.read_csv('/Users/bhuvaneshmarineni/Downloads/Intersteller.csv')
file2 = pd.read_csv('/Users/bhuvaneshmarineni/Downloads/Inception.csv')
file3 = pd.read_csv('/Users/bhuvaneshmarineni/Downloads/Dunkirk.csv')
file4 = pd.read_csv('/Users/bhuvaneshmarineni/Downloads/Tenet.csv')
file5 = pd.read_csv('/Users/bhuvaneshmarineni/Downloads/The Dark Knight Rises.csv')

# Merge the CSV files into one DataFrame
merged_data = pd.concat([file1, file2, file3, file4, file5], ignore_index=True)

# Write the merged data to a new CSV file
merged_data.to_csv("merged_file.csv", index=False)

In [10]:
a= len(file1)
b =len(file2)
c =len(file3)
d= len(file4)
e =len(file5)
print(a,b,c,d,e)
final = a+b+c+d+e
print(final)

2096 1738 694 1872 1911
8311

In [11]:
df =pd.read_csv("merged_file.csv")

In [12]:
df

,Start Time,End Time,Subtitle
0,00:01:14:22,00:01:16:24,"MURPH: Well, my dad was a farmer."
1,00:01:18:04,00:01:20:15,"Um, like everybody else back then."
2,00:01:22:18,00:01:24:22,"Of course, he didn't start that way."
3,00:01:25:12,00:01:27:11,(DISTANT RUMBLING)
4,00:01:30:00,00:01:31:01,(ALARM BEEPING)
...,...,...,...
8306,02:34:57:09,02:34:58:23,Check the ID on the patch.
8307,02:35:02:01,02:35:03:16,Bruce Wayne.
8308,02:35:04:12,02:35:06:20,#NAME?
8309,02:35:06:23,02:35:08:10,They better leave no stone unturned.
8310,02:35:08:14,02:35:11:24,We can't leave a string of pearls on the manif...

In [13]:
pip install random

Defaulting to user installation because normal site-packages is not writeable
ERROR: Could not find a version that satisfies the requirement random (from versions: none)
ERROR: No matching distribution found for random
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [17]:
import pandas as pd
import random




# Define a list of content types
content_types = ['Article', 'Movies', 'Podcast', 'Research Paper','e-commerce','journal','newspaper','magazine']

# Assign 'Content Type' column randomly
df['content_type'] = [random.choice(content_types) for _ in range(len(df))]

# Define a range for User IDs
user_ids = list(range(1, 16))  # Creates a list of numbers from 1 to 15

# Assign 'User ID' column randomly from the specified range
df['user_id'] = [random.choice(user_ids) for _ in range(len(df))]

print(df)

       Start Time     End Time  \
0     00:01:14:22  00:01:16:24
1     00:01:18:04  00:01:20:15
2     00:01:22:18  00:01:24:22
3     00:01:25:12  00:01:27:11
4     00:01:30:00  00:01:31:01
...           ...          ...
8306  02:34:57:09  02:34:58:23
8307  02:35:02:01  02:35:03:16
8308  02:35:04:12  02:35:06:20
8309  02:35:06:23  02:35:08:10
8310  02:35:08:14  02:35:11:24

                                               Subtitle    content_type  \
0                     MURPH: Well, my dad was a farmer.         journal
1                    Um, like everybody else back then.          Movies
2                  Of course, he didn't start that way.        magazine
3                                    (DISTANT RUMBLING)       newspaper
4                                       (ALARM BEEPING)  Research Paper
...                                                 ...             ...
8306                         Check the ID on the patch.          Movies
8307                                       Bruce Wayne.      e-commerce
8308                                             #NAME?         journal
8309               They better leave no stone unturned.         journal
8310  We can't leave a string of pearls on the manif...         Podcast

      user_id
0          11
1           6
2           7
3          10
4          11
...       ...
8306       11
8307        3
8308        4
8309       11
8310        1

[8311 rows x 5 columns]

In [19]:
df.to_csv("merged_file.csv", index=False)

In [21]:
df = df.drop('Subtitle', axis=1)

In [27]:
df = pd.read_csv('/Users/bhuvaneshmarineni/Downloads/updated_file_part_1.csv')

In [28]:
df = df.drop('Subtitle', axis=1)

In [35]:
df.columns

Index([' Start Time', 'End Time', 'content_type', 'user_id', 'text_read'], dtype='object')

In [39]:
import pandas as pd

# Sample data loading (replace this with your actual data loading method)
# Your data might be loaded here

# Define a function to convert HH:MM:SS:FF to HH:MM:SS
def convert_time(time_str):
    hh, mm, ss, ff = time_str.split(':')
    # Assuming 24 frames per second
    frame_rate = 24
    additional_seconds = int(ff) / frame_rate
    total_seconds = int(hh) * 3600 + int(mm) * 60 + int(ss) + additional_seconds
    new_hh = int(total_seconds // 3600)
    new_mm = int((total_seconds % 3600) // 60)
    new_ss = int(total_seconds % 60)
    return f"{new_hh:02}:{new_mm:02}:{new_ss:02}"

# Apply the conversion function to the ' Start Time' and 'End Time' columns
# Note the space before 'Start Time'
df[' Start Time'] = df[' Start Time'].apply(convert_time)
df['End Time'] = df['End Time'].apply(convert_time)

# Display the updated DataFrame
print(df)

    Start Time  End Time    content_type  user_id  \
0     00:01:14  00:01:17         journal       11
1     00:01:18  00:01:20          Movies        6
2     00:01:22  00:01:24        magazine        7
3     00:01:25  00:01:27       newspaper       10
4     00:01:30  00:01:31  Research Paper       11
..         ...       ...             ...      ...
95    00:06:59  00:07:00      e-commerce        7
96    00:07:02  00:07:03         journal        7
97    00:07:11  00:07:14         Article        9
98    00:07:14  00:07:15       newspaper        1
99    00:07:17  00:07:18         Podcast        3

                                            text_read
0   A journal serves as a personal sanctuary for i...
1   The silver screen's captivating tapestry of mo...
2   Magazines, as vibrant repositories of ideas, p...
3   Newspapers, acting as versatile bastions of in...
4   Research papers serve as valuable contribution...
..                                                ...
95  E-commerce, a rapidly evolving industry, lever...
96  A journal serves as an invaluable repository o...
97  An article, a textual unit within a publicatio...
98  Newspapers, acting as historical chronicles, p...
99  Podcasts have emerged as a transformative medi...

[100 rows x 5 columns]

In [40]:
df

,Start Time,End Time,content_type,user_id,text_read
0,00:01:14,00:01:17,journal,11,A journal serves as a personal sanctuary for i...
1,00:01:18,00:01:20,Movies,6,The silver screen's captivating tapestry of mo...
2,00:01:22,00:01:24,magazine,7,"Magazines, as vibrant repositories of ideas, p..."
3,00:01:25,00:01:27,newspaper,10,"Newspapers, acting as versatile bastions of in..."
4,00:01:30,00:01:31,Research Paper,11,Research papers serve as valuable contribution...
...,...,...,...,...,...
95,00:06:59,00:07:00,e-commerce,7,"E-commerce, a rapidly evolving industry, lever..."
96,00:07:02,00:07:03,journal,7,A journal serves as an invaluable repository o...
97,00:07:11,00:07:14,Article,9,"An article, a textual unit within a publicatio..."
98,00:07:14,00:07:15,newspaper,1,"Newspapers, acting as historical chronicles, p..."
99,00:07:17,00:07:18,Podcast,3,Podcasts have emerged as a transformative medi...

In [41]:
df.to_csv("updated_file.csv", index=False)

# merging new csv

In [92]:
file = pd.read_csv('/Users/bhuvaneshmarineni/Downloads/updated_file_part_1.csv')
file5 = pd.read_csv('/Users/bhuvaneshmarineni/Downloads/updated_rows_100_to_199.csv')
file2 = pd.read_csv('/Users/bhuvaneshmarineni/Downloads/updated_rows_200_to_299.csv')
file3 = pd.read_csv('/Users/bhuvaneshmarineni/Downloads/updated_rows_300_to_399.csv')
file1 = pd.read_csv('/Users/bhuvaneshmarineni/Downloads/updated_rows_400_to_499.csv')
file6 = pd.read_csv('/Users/bhuvaneshmarineni/Downloads/updated_rows_500_to_699.csv')
# # Merge the CSV files into one DataFrame

In [93]:

file4.columns = file4.columns.str.strip()
file4.columns

Index(['Start Time', 'End Time', 'Subtitle', 'content_type', 'user_id',
       'text_read'],
      dtype='object')

In [94]:
file5.columns

Index(['Start Time', 'End Time', 'Subtitle', 'content_type', 'user_id',
       'text_read'],
      dtype='object')

In [95]:
file6.columns

Index(['Start Time', 'End Time', 'Subtitle', 'content_type', 'user_id',
       'text_read'],
      dtype='object')

In [96]:
file3.columns

Index(['Start Time', 'End Time', 'Subtitle', 'content_type', 'user_id',
       'text_read'],
      dtype='object')

In [97]:
file1.columns

Index(['Start Time', 'End Time', 'Subtitle', 'content_type', 'user_id',
       'text_read'],
      dtype='object')

In [83]:
file2.columns

Index(['Start Time', 'End Time', 'Subtitle', 'content_type', 'user_id',
       'text_read'],
      dtype='object')

In [100]:
merged_data = pd.concat([ file4, file5,file2,file3,file1,file6], ignore_index=True)

# Write the merged data to a new CSV file
merged_data.to_csv("new_merged_file.csv", index=False)

In [101]:
df = pd.read_csv('new_merged_file.csv')

In [102]:
df

,Start Time,End Time,Subtitle,content_type,user_id,text_read
0,00:01:14:22,00:01:16:24,"MURPH: Well, my dad was a farmer.",journal,11,A journal serves as a personal sanctuary for i...
1,00:01:18:04,00:01:20:15,"Um, like everybody else back then.",Movies,6,The silver screen's captivating tapestry of mo...
2,00:01:22:18,00:01:24:22,"Of course, he didn't start that way.",magazine,7,"Magazines, as vibrant repositories of ideas, p..."
3,00:01:25:12,00:01:27:11,(DISTANT RUMBLING),newspaper,10,"Newspapers, acting as versatile bastions of in..."
4,00:01:30:00,00:01:31:01,(ALARM BEEPING),Research Paper,11,Research papers serve as valuable contribution...
...,...,...,...,...,...,...
694,00:51:19:20,00:51:22:24,"AMELIA: Uh, Wolf Edmunds is here. - Tell me ab...",journal,4,A journal serves as an introspective repositor...
695,00:51:23:20,00:51:26:14,"Oh, uh, Wolf's a particle physicist.",e-commerce,11,"E-commerce, encompassing the seamless exchange..."
696,00:51:28:21,00:51:31:05,"None of them had families, huh?",Movies,10,"Movies, captivating visual narratives that tra..."
697,00:51:32:06,00:51:35:03,No. No attachments. My father insisted.,magazine,13,"Magazines offer a blend of current events, in-..."
698,00:51:35:07,00:51:38:20,They all knew the odds against ever seeing ano...,Podcast,3,"Podcasts, captivating audio journeys that conv..."

In [103]:
df = df.drop('Subtitle', axis=1)
df['user_id'] = pd.Series(2, index=df.index)
df.columns

Index(['Start Time', 'End Time', 'content_type', 'user_id', 'text_read'], dtype='object')

In [104]:
# import pandas as pd

# Sample data loading (replace this with your actual data loading method)
# Your data might be loaded here

# Define a function to convert HH:MM:SS:FF to HH:MM:SS
def convert_time(time_str):
    hh, mm, ss, ff = time_str.split(':')
    # Assuming 24 frames per second
    frame_rate = 24
    additional_seconds = int(ff) / frame_rate
    total_seconds = int(hh) * 3600 + int(mm) * 60 + int(ss) + additional_seconds
    new_hh = int(total_seconds // 3600)
    new_mm = int((total_seconds % 3600) // 60)
    new_ss = int(total_seconds % 60)
    return f"{new_hh:02}:{new_mm:02}:{new_ss:02}"

# Apply the conversion function to the ' Start Time' and 'End Time' columns
# Note the space before 'Start Time'
df['Start Time'] = df['Start Time'].apply(convert_time)
df['End Time'] = df['End Time'].apply(convert_time)

# Display the updated DataFrame
print(df)

    Start Time  End Time    content_type  user_id  \
0     00:01:14  00:01:17         journal        2
1     00:01:18  00:01:20          Movies        2
2     00:01:22  00:01:24        magazine        2
3     00:01:25  00:01:27       newspaper        2
4     00:01:30  00:01:31  Research Paper        2
..         ...       ...             ...      ...
694   00:51:19  00:51:23         journal        2
695   00:51:23  00:51:26      e-commerce        2
696   00:51:28  00:51:31          Movies        2
697   00:51:32  00:51:35        magazine        2
698   00:51:35  00:51:38         Podcast        2

                                             text_read
0    A journal serves as a personal sanctuary for i...
1    The silver screen's captivating tapestry of mo...
2    Magazines, as vibrant repositories of ideas, p...
3    Newspapers, acting as versatile bastions of in...
4    Research papers serve as valuable contribution...
..                                                 ...
694  A journal serves as an introspective repositor...
695  E-commerce, encompassing the seamless exchange...
696  Movies, captivating visual narratives that tra...
697  Magazines offer a blend of current events, in-...
698  Podcasts, captivating audio journeys that conv...

[699 rows x 5 columns]

In [106]:
df.to_csv('new_merged_file.csv',index=False)